html,body{
	font-family: 'Slabo 27px', serif;
	background-color: #f0f0f0;

}

#directPay_div{ 
	padding: 20px;
	margin-top: 20px;
	border-radius: 10px;
	line-height: 10px;
}

#directPay_div label{
	margin-left: 5px;
	font-size: 15px;
}

#grand{
	display: none;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus,
button:focus {
	border-color: rgba(126, 239, 104, 0.8);
	background: goldenrod !important;
	color: white;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(126, 239, 104, 0.6);
	outline: 0 none;
}

.itemForm{
	background-color: darkgray !important;
	padding: 10px !important;
	border-radius: 10px !important;
	margin: 40px 0px !important;
}

#itemBtn{
	margin-right: 5px;
}

.navbar-default .navbar-nav>li>a{
	color: #f0f0f0 !important;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #000000 !important;
}